.root {
  border: solid 1px #e4e4e4;
}

.additionalQuestions {
  margin-top: 10px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
}

.additionalQuestions a {
  color: var(--primary-color);
}

.root ul {
  list-style: none;
  padding: 8px 0;
  margin: 0;
}

.root li a {
  padding: 7px 15px;
  display: block;
  text-decoration: none;
}
.root li a:hover,
.active {
  background-color: var(--primary-color);
  color: #fff;
}
