.wrapper {
  margin-top: 40px;
}

@media (max-width: 786px) {
  .wrapper {
    padding-top: 56.25%;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
