.noPadding {
  padding: 0;
  margin: 0;
}

.root {
  margin-top: 30px;
}

.root :global(.container) {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.root h2 {
  text-align: left !important;
}

.breadcrumbs {
  margin-bottom: 20px;
}

.sidebar {
  position: sticky;
  top: 20px;
}

.wrapper {
  margin-top: -60px;
}
