.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.galleryImg {
  width: 100%;
  height: 100%;
  border: solid 3px transparent;
}

.galleryImgContainer {
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.galleryImgContainer:hover .hoverOverlay {
  opacity: 0.4;
}
.galleryImgContainer:hover .hoverZoomIcon {
  opacity: 0.8;
}
.galleryImgContainer:hover .galleryImg {
  border: solid 3px var(--secondary-color);
}
.hoverOverlay {
  border: 0;
  background-color: var(--secondary-color);
  transition: 0.5s ease;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}
.hoverZoomIcon {
  position: absolute;
  transition: 0.5s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 40px;
  opacity: 0;
  pointer-events: none;
}

.noMargin {
  padding: 0;
}

@media (min-width: 768px) {
  .galleryContainer {
    margin-left: -10px;
  }
}
