.primary {
  font-family: Poppins;
  font-size: var(--p-size);
  font-weight: var(--font-semi-bold);
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: 0.7px;
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
}
.second {
  composes: primary;
  color: var(--secondary-color);
}
.linkStyleWrapper .second:hover {
  color: var(--primary-color);
}
.linkStyleWrapper .primary:hover {
  color: var(--secondary-color);
}
.iconStyle {
  margin: 3px 10px 3px 10px;
}

.linkStyleWrapper {
  display: flex;
  align-items: flex-start;
}

.centered {
  justify-content: center;
}
