.root {
  padding: 80px 0px 100px 0;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  margin-bottom: -20px;
  margin-left: -20px;
  display: inline-block;
  border: solid 1px #b27342;
  z-index: -1;
}
.textWrapper {
  position: relative;
  max-width: 435px;
  padding: 56px 50px 36px;
  opacity: 0.95;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.buttonWrapper {
  margin-top: 30px;
}

@media (max-width: 991px) {
  .root {
    padding: 50px 0;
  }
}
