.root {
  padding: 50px 0;
  background-color: rgba(178, 115, 66, 0.02);
  border-bottom: solid 1px rgba(178, 115, 66, 0.15);
}

.root .col {
  flex-basis: auto;
}

.advantageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}

.iconBackground img {
  height: auto;
  width: 63px;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .advantageContainer {
    padding: 15px;
  }
}
